{include file='common/header'}  
    <div class="am-g am-container l-container">
        <form method="post" action="http://luolin.me/tp5/public/index.php/index/login/login">
            <div class="am-input-group am-input-group-secondary l-input">
                <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
                <input type="text" class="am-form-field js-username" name="username" placeholder="用户名">
            </div>
            <p class="js-alert js-username-alert" style="padding: 0 10px;color:#dd514c;"></p>
            <div class="am-input-group am-input-group-secondary l-input">
                <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
                <input type="password" class="am-form-field js-password" name="password" placeholder="密码">
            </div>
            <p class="js-alert js-message" style="padding: 0 10px;color:#dd514c;"></p>
            <div class="am-checkbox l-input">
                <label>
                    <input type="checkbox" name="weekly[]" value="1"> 一周内免登陆
                    <input type="checkbox" name="weekly[]" value="2" checked="checked" style="display: none;">
                </label>
            </div>
            <div style="margin:0 10px;">
               <button type="submit" class="am-btn am-btn-primary am-btn-block">登录</button>
            </div>
        </form>
    </div>
{include file='common/footer'}   